# Output files
bin/
*.so
*.o
*.a
*.dll
*.obj
*.lib
*.exe

# Sublime files
*.sublime-workspace

# Rad debugger files
*.raddbg-project

# Renderdoc settings
*.cap

# Generated font files
assets/fonts/*.json
assets/fonts/*.arfont
assets/fonts/*.png

# Generated shader files
assets/shaders/*.spv
assets/shaders/*.glsl
assets/shaders/*.json
